.myrow {
  margin: 0;
  padding: 20px;
  width: 100%;
}

.full_view {
  height: 100vh;
}

.header_text {
  color: white;
}

.editable_row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}

.dashboard_primary_span {
  color: #1890ff;
}
